ffmpeg.exe

# Bytecode e cache Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Cartelle temporanee PyInstaller
build/
*.spec

# Output build
dist/
StefyTubeApp/
StefyTube.exe

# File di log
*.log
logs/

# Cartelle dati locali
downloads
track-playlist/*.json
video-playlist/*.json
*.mp3
*.mp4
*.webm
*.part

# Cartelle IDE/editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Altri
.DS_Store
Thumbs.db
_internal
venv