<!DOCTYPE html>
<html>

{% import 'macros.html' as macros %}

<head>
  <title>StefyTube</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
  {{ macros.navbar() }}

  <div class="container mt-4">
    <h3 class="mb-4">🎥 Video scaricati</h3>

    {% if progress.status != 'idle' and progress.status != 'finished' %}
    <div class="alert alert-info text-center">
      ⏳ Download video in corso: <strong>{{ progress.filename }}</strong> ({{ progress.progress }}%)
    </div>
    {% endif %}


    {% if videos %}
    {% for video in videos %}
    <div class="video-wrapper">
      <h5>{{ video }}</h5>
      <video controls>
        <source src="{{ url_for('download_file', filename=video) }}" type="video/mp4">
        Il tuo browser non supporta il tag video.
      </video>
    </div>
    {% endfor %}
    {% else %}
    <div class="alert alert-info">Non ci sono video disponibili nella cartella downloads.</div>
    {% endif %}
  </div>
</body>

</html>